<p>Bonjour {{firstName}},</p>

<p>Une demande de changement d'adresse courriel a été effectuée sur votre compte. La nouvelle adresse est&nbsp;: <strong>{{newEmail}}</strong>.</p>

<p>Ce changement ne prendra effet qu'une fois la nouvelle adresse confirmée.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez communiquer immédiatement avec nous afin de sécuriser votre compte.</p>

<p>Cordialement,<br/>
L'équipe du Vieux Pont</p>
