<p>Hello {{firstName}},</p>

<p>A request to change the email address on your account was made. The new address is: <strong>{{newEmail}}</strong>.</p>

<p>This change will only take effect once the new address has been confirmed.</p>

<p>If this wasn't you, please contact us immediately so we can secure your account.</p>

<p>Best regards,<br/>
The Vieux Pont team</p>
