<p>Hello {{firstName}},</p>

<p>You have requested to reset your password. This link expires in {{expiryHours}} hours.</p>

<p style="text-align: center; margin: 20px 0;">
  <a href="{{resetUrl}}" style="display: inline-block; padding: 12px 30px; background-color: #9d4300; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;">Reset Password</a>
</p>

<p>If you didn't request this password reset, you can ignore this message.</p>

<p>Best regards,<br/>
The Vieux Pont team</p>
