<tr>
  <td style="background-color: #9d4300; padding: 20px; text-align: center;">
    <div style="color: white; font-size: 24px; font-weight: bold;">
      L'Auberge du Vieux Pont
    </div>
    <div style="color: #f0e5d8; font-size: 14px; margin-top: 4px;">
      Gîte champêtre en Mauricie
    </div>
  </td>
</tr>
